LOG_LEVEL=INFO
SQLITE_DATABASE=shared/database/jobs.db
RESUME_DIRECTORY=shared/resumes
GMAIL_OAUTH_CLIENT=config/gmail_oauth_client.json
GMAIL_TOKEN=shared/oauth/token.json
LOG_DIRECTORY=shared/logs
OPENAI_API_KEY=
